<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render :partial => "/shared/menu",
           :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           } -%>

<% if member_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_member_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_member_session_path)  %>  
  </li>
<% end %>
