<li class='clearfix record icons' id="<%= dom_id(member) -%>">
  <span class='title'>
    <%= member.email %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_admin_member_path(member),
         :title => t('.edit', :scope => 'refinery.admin.members') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.admin_member_path(member),
        :class => "cancel confirm-delete",
        :title => t('.delete', :scope => 'refinery.admin.members'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => member.email),
        :method => :delete
    %>
  </span>
</li>
