<section id='records'>
  <%= render :partial => 'records' %>
</section>
<aside id='actions'>
  <%= render :partial => 'actions' %>
</aside>
<%= render :partial => '/refinery/shared/admin/make_sortable',
            :locals => {
              :tree => false
            } if !searching? and Refinery::Admin::MembersController.sortable? and Refinery::Member.count > 1 %>
