<ul>
  <li>
    <%= render "/refinery/admin/search", :url => refinery.members_admin_members_path %>
  </li>
  <li>
    <%= link_to t(".create_new"), refinery.new_members_admin_member_path,
                 :class => "add_icon" %>
  </li>
<% if @members.many? && !searching? %>
  <li>
    <%= link_to t(".reorder_members", what: "Members"), refinery.members_admin_members_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t(".reorder_done", what: "Members"), refinery.members_admin_members_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
