<% content_for :body_content_left do %>
  <ul id="members">
    <% @members.each do |member| %>
      <li>
        <%= link_to member.email, member_url(member) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
